<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/13347d12-177e-4aad-b259-f71fafe0ac5b/resourceGroups/testresource/providers/Microsoft.Web/sites/DigitalOnlineGamesMarketplace1</ResourceId>
    <ResourceGroup>testresource</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://digitalonlinegamesmarketplace1.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://digitalonlinegamesmarketplace1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$DigitalOnlineGamesMarketplace1</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>